<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>AdonisJS x Inertia x React</title>

  @viteReactRefresh()
  @inertiaHead()
  @vite(['resources/js/app.tsx'])
</head>

<body class="bg-gray-100">
  @inertia()
</body>

</html>